%h1  Expand your network

= form_for Follower.new(), :url => user_followers_path, :html => {:multipart => true} do |form|

    %h1
    = form.collection_select(:follower_id, @users, :id, :email)
    = form.submit 'Follow'





